# Empty lines and lines starting with '#' are ignored
# Servername can be omitted (the previous value is used in that case)

# Servername            local-user              remote-user     password

imap.example.com        local-user1             remote-user1    password
                        local-user2             remote-user2    password
